* {
  color: #fff;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(45, 45, 46);
}
.notify-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  top: 20px;
  left: 41%;
  z-index: 1000;
}
.notifycation {
  font-size: 18px;
  width: 250px;
  height: 55px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 5px 7px 3px rgb(0 0 0 / 29%);
  animation: fadein 0.2s forwards;
}
.notifycation.hide {
  -webkit-animation: fadein 0.2s, fadeout 0.3s 1.8s;
  animation: fadeout 0.3s 1.8s forwards;
}
@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
/* messages */
.notifycation.success {
  color: rgb(108, 228, 182);
  background-color: rgb(93, 90, 94);
}
.notifycation.error {
  background-color: rgb(233, 46, 71);
}
.notify-btn {
  background-color: rgb(92, 130, 212);
  font-size: 18px;
  width: 135px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.notify-btn:hover {
  filter: brightness(120%);
}
.notify-btn:active {
  filter: brightness(90%);
}
