* {
  box-sizing: border-box;
}

body {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  display: flex;
  gap: 25px;
}

img {
  width: 250px;
  height: 320;
}
