
.track {
  max-width: 1130px;
  display: flex;
  scroll-behavior: smooth;
  margin: 0 auto 50px;
  /* padding: 10px; */
  overflow-x: auto;
  user-select: none;
  gap: 14px;
}

.track::-webkit-scrollbar {
  display: none;
}

.card-slider {
  flex: 0 0 260px;
}

.card-slider {
  position: relative;
  width: 260px;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  bottom: 33px;
}
.card-price {
  font-size: 15px;
  bottom: 22px;
}

.card-title,
.card-price {
  position: absolute;
  left: 18px;
  z-index: 3;
  color: #fff;
  transition: opacity 0.3s linear;
}

.card-slider:hover .card-title,
.card-slider:hover .card-price {
  opacity: 0;
}

.card-slider::after {
  content: "";
  position: absolute;
  bottom: 14px;
  border-radius: 8px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);

  transition: opacity 0.3s linear;
  opacity: 1;
}
.card-slider:hover::after {
  opacity: 0;
}
.left {
  position: absolute;
  bottom: -27%;
  left: 5%;
  font-size: 18px;
  color: rgb(62, 63, 66);
}
.right {
  position: absolute;
  bottom: -27%;
  right: 5%;
  font-size: 18px;
  color: rgb(62, 63, 66);
}
