* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(167, 169, 172);
  color: rgb(62, 63, 66);
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.card {
  background-color: rgb(198, 200, 202);
  width: 286px;
  height: 445px;
  padding: 12px 13px;
  border-radius: 13px;
  gap: 10px;
  box-shadow: 0px 1px 10px 1px #6e6e77;
}
img {
  width: 260px;
  height: 290px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
h2,
p {
  margin: 0 0 10px;
}
p {
  font-weight: 600;
}
