* {
  box-sizing: border-box;
}
body {
  background-color: rgb(167, 169, 172);
  font-family: Arial, Helvetica, sans-serif;
}
body .root {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(62, 63, 66);
}

.root {
  max-width: 1220px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  background-color: rgb(198, 200, 202);
  width: 286px;
  height: 445px;
  padding: 12px 13px;
  border-radius: 13px;
  gap: 10px;
  box-shadow: 0px 1px 10px 1px #6e6e77;
  position: relative;
}
img {
  width: 260px;
  height: 290px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
h2,
p {
  margin: 0 0 10px;
}
p {
  font-weight: 600;
}
i {
  position: absolute;
  bottom: 14px;
  right: 13px;
  color: rgb(190, 8, 63);
}
