* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper2 {
  max-height: 500px;
  max-width: 800px;
  position: relative;
}
.wrapper2 .slider2 {
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.slider2 {
  overflow-x: auto;
  max-height: 500px;
  font-size: 0;
  user-select: none;
}
.slider2 img {
  object-fit: cover;
  height: 350px;
  width: calc(100% / 3);
  margin-left: 12px;
}
.slider2 img:first-child {
  margin-left: 0;
}
.slider2 img {
  transition: transform 0.3s;
}
.slider2 img.big {
  transform: scale(1.2);
}

.slider2 img.small {
  transform: scale(0.8);
  filter: blur(3.5px);
}
.wrapper2 i {
  position: absolute;
  top: 50%;
  background-color: rgb(151 198 199);
  color: rgb(255, 24, 24);
  box-shadow: 0px 3px 5px #5a3030ab;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transform: translateY(-50%);
  align-items: center;
  line-height: 34px;
  font-size: 20px;
  cursor: pointer;
}
.wrapper2 i:first-child {
  left: -60px;
}
.wrapper2 i:last-child {
  right: -60px;
}
