* {
  box-sizing: border-box;
}
.notify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.notifycation {
  background-color: rgb(176, 255, 230);
  border: 1px solid #78f8c9;
  border-radius: 10px;
  padding: 10px;
}
