.nnotify-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  padding: 12px 18px;
  background: #444;
  color: white;
  border-radius: 8px;
  font-family: sans-serif;
  opacity: 1;
  transition: opacity 0.3s;
}

.notification.hide {
  opacity: 0;
}
