* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(
    206deg,
    rgb(54, 58, 61) 9%,
    rgb(24, 25, 27) 96%
  );
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  border-radius: 18px;
  border: 2px solid #fff;
  background-color: rgb(135 134 134 / 11%);
  backdrop-filter: blur(11px);
  position: relative;
}

.container::after {
  content: "";
  position: absolute;
  left: 120px;
  right: 120px;
  top: 0;
  height: 24px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0) 65%
  );
  filter: blur(19px);
}
.container::before {
  content: "";
  position: absolute;
  left: 139px;
  right: 157px;
  top: 0;
  height: 24px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0) 26%
  );
  filter: blur(8px);
}
