* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(47, 160, 160);
}
.wrapper {
  max-width: 1200px;
  background-color: rgba(146, 221, 226, 0.808);
  border-radius: 10px;
  position: relative;
}
.wrapper i {
  top: 50%;
  position: absolute;
  width: 46px;
  height: 46px;
  font-size: 25px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  color: rgb(23, 57, 85);
  background-color: rgb(146, 221, 226);
  border-radius: 50%;
  transform: translateY(-50%);
}
.wrapper i:first-child {
  left: -60px;
}
.wrapper i:last-child {
  right: -60px;
}
.wrapper .slider {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 0;
  scroll-behavior: smooth;
  padding: 16px;
}

.slider {
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  font-size: 0;
  cursor: grab;
  border-radius: 10px;
}
.slider:active {
  cursor: grabbing;
}

.slider img {
  height: 340px;
  width: calc(100% / 3);
  object-fit: cover;
  cursor: pointer;
  margin-left: 14px;
  margin: 10px 10px;
  pointer-events: none;
  border-radius: 10px;
  /* box-shadow: 0px 1px 10px 2px rgb(212 0 255 / 70%); */
  z-index: 1;
}
.slider img:first-child {
  margin-left: 0;
}
