* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(47, 160, 160);
}
.wrapper {
  max-width: 1200px;
  position: relative;
}
.wrapper i {
  top: 50%;
  position: absolute;
  width: 46px;
  height: 46px;
  font-size: 25px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  color: rgb(23, 57, 85);
  background-color: aliceblue;
  border-radius: 50%;
  transform: translateY(-50%);
}
.wrapper i:first-child {
  left: -60px;
}
.wrapper i:last-child {
  right: -60px;
}
.wrapper .slider {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  scroll-behavior: smooth;
}

.slider {
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  font-size: 0;
  cursor: grab;
}
.slider:active {
  cursor: grabbing;
}

.slider img {
  height: 340px;
  width: calc(100% / 4);
  object-fit: cover;
  cursor: pointer;
  margin-left: 14px;
  pointer-events: none;
}
.slider img:first-child {
  margin-left: 0;
}
