$bg-layer-first: #24b147;
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
}

.wrapper-tree {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 196, 201);
  height: 100vh;

  .tree-container {
    width: 500px;
    height: 630px;
    background-color: rgb(50, 54, 54);
  }
  .tree {
    position: relative;
  }
}

.star {
  background-color: rgb(252, 217, 102);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 8;
  left: 50%;
  top: 18%;
}
.layer-tree {
  position: absolute;
  top: 45px;
  left: 48%;
  border-radius: 0 0 10px 10px;
  width: 60px;
  height: 60px;
  z-index: 5;
}
.form-layer-1 {
  background-color: $bg-layer-first;
  z-index: 8;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotateZ(45deg);
  border-radius: 0px 10px 25px 10px;
  box-shadow: inset 4px 6px 16px 0px #99eb4ee0;

  .layer-left-1 {
    background-color: $bg-layer-first;
    z-index: 8;
    position: absolute;
    width: 30px;
    height: 25px;
    top: 0;
    right: 0;
    transform: translateY(0) translateX(50%);
    border-radius: 0px 10px 20px 10px;
  }
  .layer-right-1 {
    background-color: $bg-layer-first;
    z-index: 8;
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 30px;
    height: 25px;
    transform: translateY(50%) translateX(0);
    border-radius: 0px 10px 20px 10px;
  }
}
